html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

#container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75vh;
  }
  .file-uploader {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 270px;
	padding: 20px 10px;
	border: 2px solid #3d3935;
	border-radius: 4px;
	background-color: #fff;
  }
  .file-uploader img {
	width: 40px;
  }
  .file-uploader h2 {
	margin: 10px 0 15px;
	color: #3d3935;
	font-size: 1.125rem;
	letter-spacing: .5px;
  }
  .file-uploader input[type="file"] {
	display: none;
  }
  .file-uploader label {
	padding: 10px 30px;
	border-radius: 4px;
	background-color: #9cffc2;
	color: #3d3935;
	font-weight: 500;
	font-size: 1.25rem;
	letter-spacing: 1px;
	cursor: pointer;
  }
  .file-uploader label:hover {
	opacity: .8;
  }

canvas {
	width: 100px;
	height: 100px;
}